<footer class="footer-area p-3">

<div class="footer-bottom row align-items-center mt-1">
    <p class="footer-text m-0 col-lg-8 col-md-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://socalled.co.in" target="_blank">Socalled</a>
</p>
    <div class="col-lg-4 col-md-12 footer-social">
        <a href="http://github.com/dhina016"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/dhina016/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/an_introvert_in_love/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCkYSm6CG1cV690GGnmAaXLg"><i class="fa fa-youtube"></i></a>
    </div>
</div>
</div>
</footer>