		<header>
			
			<div class="header-top">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<nav id="nav-menu-container">
							<ul class="nav-menu">
								<li class="menu-active"><a href="/">Home</a></li>
								<li><a href="/news">News</a></li>
							<li><a href="/contact">Contact</a></li>
							{% if session.logged_in %}
							<li><a href="/addpost">Add Post</a></li>
							<li><a href="/logout">Logout</a></li>
							{% else %}
							<li><a href="/register">Register</a></li>
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
						</nav><!-- #nav-menu-container -->
						<div class="navbar-right">
							<form class="Search" method="post" action="/search">
								<input type="text" class="form-control Search-box" name="search" id="Search-box" placeholder="Search News Title">
								<label for="Search-box" class="Search-box-label">
									<span class="lnr lnr-magnifier"></span>
								</label>
								<span class="Search-close">
									<span class="lnr lnr-cross"></span>
								</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>