{% extends 'base.html' %}

{% block content %}
		<div class="site-main-container">
			<!-- Start top-post Area -->
			<section class="top-post-area pt-10 mt-2">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-nav-area">
								<h1 class="text-white">Welcome To Newsland</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End top-post Area -->
		</div>

		
		<!-- Start service Area -->
		<section class="service-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="single-service d-flex flex-row">
							<div class="icon">
								<span class="lnr lnr-sun"></span>
							</div>
							<div class="details">
								<a href="#">
									<h4>Read</h4>
								</a>
								<p>
								Read all the latest news and old news. Read all the selective news by clicking user, date and category on post...
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-service d-flex flex-row">
							<div class="icon">
								<span class="lnr lnr-code"></span>
							</div>
							<div class="details">
								<a href="#">
									<h4>Want to post?</h4>
								</a>
								<p>
									If you are interested to post your news its just simple and easy as instagram. Register if you are new or logged in, wait for verification by admin, add post. Sounds Simple!!								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-service d-flex flex-row">
							<div class="icon">
								<span class="lnr lnr-clock"></span>
							</div>
							<div class="details">
								<a href="#">
									<h4>Language</h4>
								</a>
								<p>
									This newsland is developed by using flask(Python framework). Don't panic, its sounds like complicated but its easy as Hello World!. Let's Use all the functionality of newsland.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End service Area -->
{% endblock %}